@font-face {
    font-family: "custom";
    src: url("./title.ttf");
    font-display: swap;
}

:root {
    --font1: var(--font-outfit), system-ui, sans-serif;
    --font3: var(--font-lexend), system-ui, sans-serif;
    --font5: var(--font-josefin), system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
    font-family: var(--font1);
}

a,
p,
span {
    font-family: var(--font5);
}

button {
    font-family: var(--font3);
}

.gradient-title {
    font-family: "custom" !important;
}